---
title: Home
layout: default
---

{% include header.html %}

<main>
    <section id="overview" >
        <p>The Northeast Chapter of <a href="https://womeninhpc.org/" target="_blank">Women in High Performance Computing (WHPC)</a> is a network of like-minded professionals from the Northeast region of the United States with varying entry points into the field of High Performance Computing and with richly diverse skills, experiences, and talents. Our goal is to create a community for personal and professional exploration and growth within the safety of a community of colleagues.</p>
    </section>

    <hr />

    <section id="activities">
        <h2>Chapter Activities</h2>
        <p>The WHPC Northeast activities focus on:</p>

        <ul>
            <li>Bringing visibility to the Research Computing career track and raising awareness about the variety of entry points, career paths, and specialty areas within the field.</li>

            <li>Functioning as a peer network for career advice, self-advocacy, and mentoring.</li>

            <li>Providing chapter members and their local communities with programming on topics that empower women in Research Computing and Data and address common challenges.</li>

            <li>Hosting social and support events and inviting guest speakers to present on their research, experience, or trials and tribulations of being a woman working in this field.</li>
        </ul>

        <p>The chapter meets monthly for group discussions and peer mentoring on topics such as how to introduce yourself in different contexts and sharing exciting projects we are working on.</p>

    </section>

    <section id="upcoming">
        <h2>Events</h2>
        <ul>
            <li>Monthly Chapter Meetings, <em>4th Thursdays of the month</em></li>
            <li>PEARC25: Women in HPC Workshop</a>, <em>Monday July 21, 2025</em></li>
        </ul>
    </section>

    <section id="past">
        <h2>Notable Past Events</h2>
        <ul>
            <li>HPC Software Installation: Empowering Researchers and Lightening the Load on Research Computing Staff, <em>Friday December 14, 2024</em></li>
            <li>Co-Event with Purdue and Virginia WHPC chapters, <em>Tuesday September 3, 2024</em></li>
            <li><a href="https://web.cvent.com/event/f318e73c-2230-432a-a044-b75625020543/websitePage:afd80266-008e-414b-9f94-2fd9b4dd1924?session=f5d3340c-b5fa-434e-bf77-38a26e3a0c22&shareLink=true" target="_blank">PEARC24: Women in HPC Workshop</a>, <em>Monday July 22, 2024</em></li>
            <li>Introduction to Introductions Workshop, <em>Wednesday March 27, 2024</em></li>
        </ul>
    </section>

    <section id="join">
        <h2>Join the Chapter</h2>
        <p>We want to ensure that we reach as many Women in HPC as possible in the Northeast region. We’re interested in welcoming members of diverse professional backgrounds who are involved in any element of Research Computing and Data at your organization. If you are interested in joining us on this journey, please complete the Google form linked below.  We also ask your help to spread the word of our growing and talented group. If there are other women within your teams and local networks who you think would like to participate or should be involved, please feel free to direct them to this site.</p>

        <p class="center"><a href="https://forms.gle/3qbJFtdov1DjgBgM8" target="_blank"><button>sign up</button></a></p>

        <p class="small center">(filling out the form will result in an invite to our Google Group and thus receiving communications around the chapter’s activities)</p>
    </section>

    <hr />

    <section id="about">
        <h2>About Us</h2>

        <p>The Northeast Chapter of <a href="https://womeninhpc.org/" target="_blank">Women in High Performance Computing (WHPC)</a> was established in October 2023. Our current co-chairs are Kaylea Nelson (Yale Center for Research Computing at Yale University), Paula Sanematsu (FAS Research Computing at Harvard University) and Jessica Eaton (Columbia University).</p>


        <h3>Past Co-Chairs</h3>
        <ul>
            <li>Krista Valladares (Harvard University Information Technology), founding chair 2022-2024</li>
        </ul>

        <h3>Contact Us</h3>
        <p>If you have any questions about our Chapter, reach out to us at <a href="mailto:whpc-northeast@googlegroups.com">whpc-northeast@googlegroups.com</a>.</p>

        <p><strong>Past Chairs.</strong> Krista Valladares (Harvard University Information Technology), founding chair, 2022-2024.</p>

    </section>
</main>

{% include footer.html %}
